<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Behzad Ashrafi</h2>
            <h4>Behzad.p.ashrafi</h4>
        </div>

        <img src="https://www.icloud.com/system/icloud.com/2426Hotfix47/98e4fa76dcfd3536b6c6b6fd0e7eb267.png" alt="">
    </div>
    <mat-divider></mat-divider>
    <div matSubheader>

        <h2>Pages</h2>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/"> Dashboard </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"> Posts </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles"> Articles </a>

    </div>

    <mat-divider></mat-divider>

    <div matSubheader>

        <h2>Tools</h2>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/conntacts">
            <mat-icon>import_contacts</mat-icon>
            Contacts
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/conntacts">
            <mat-icon>contacts_phone</mat-icon>
            Leads
        </a>
    </div>

</mat-nav-list>